/* колір головного тексту #757575 */
/* другорядний колір тексту #212121 */
/* колір background хедера #FFFFFF*/
/* колір background героя #2F303A */
/* колір background класу переваг і занять #F5F5F5*/
/* колір background класу працівники #F5F4FA */
/* колір background футера #2F303A*/
/* акцент #2196F3*/
:root {
  --brand-color: #757575;
  --secondary-color: #212121;
  --primary-white-color: #ffffff;
  --hover-color: #2196f3;
}
body {
  font-family: "Roboto", raleway;
  background-color: var(--primary-white-color);
  color: var(--secondary-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
textarea {
  resize: none;
}

/*шапка*/
.page-header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid #ececec;
}
.link-logo {
  margin-right: 93px;
}
.link-nav {
  text-decoration: none;
  color: var(--secondary-color);
}
.main-nav {
  display: flex;
  align-items: center;
}
.link-nav-color {
  fill: var(--brand-color);
  color: var(--brand-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav .link-nav-color:hover,
.main-nav .link-nav-color:focus {
  color: var(--hover-color);
  fill: var(--hover-color);
}
.site-nav-list {
  color: var(--hover-color);
}

.current {
  position: relative;
  color: var(--hover-color);
}
.site-nav-list a.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--hover-color);
  border-radius: 2px;
}
.site-nav-list {
  display: flex;
}
.site-nav-list li {
  margin-right: 50px;
}
.site-nav-list li:last-child {
  margin-right: 0;
}
.site-nav-list .link-nav {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500px;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
  letter-spacing: 0.02em;
}
.icon {
  margin-right: 10px;
}
/*
.icon-header-first::before{
  content: url(../images/envelope.svg);
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.icon-header-second::before{
  content: url(../images/smartphone.svg);
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
} */
.items {
  display: flex;
  margin-left: auto;
}
.items li {
  margin-right: 30px;
}
.items li:last-child {
  margin-right: 0;
}
.items-team {
  display: flex;
  margin-left: auto;
}
.items-team > .items-li {
  margin-right: 30px;
}
.items-team > .items-li:last-child {
  margin-right: 0;
}
.benefits-items {
  display: flex;
  margin-left: auto;
}
.benefits-items li {
  margin-right: 30px;
}
.benefits-items li:last-child {
  margin-right: 0;
}
.items-portfolio {
  margin-bottom: 94px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*герой*/
.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
}
.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  color: var(--primary-white-color);
  font-size: 44px;
  line-height: 1.4;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-pointer {
  border-radius: 4px;
  padding: 10px 32px;
  font-weight: 700;
  border: 1px transparent;
  color: var(--secondary-color);

  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
  text-align: center;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-pointer:hover,
.hero-pointer:focus {
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-white-color);
}
.overlay {
  display: block;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/team-work.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*
.list-item-icon::before{
  content: '';
  display: block;
  height: 120px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.list-item-icon:nth-child(1)::before{
  content: url(../images/antenna\ 1.svg);
}
.list-item-icon:nth-child(2)::before{
  content: url(../images/clock\ 1.svg);
}
.list-item-icon:nth-child(3)::before{
  content: url(../images/diagram\ 1.svg);
}
.list-item-icon:nth-child(4)::before{
  content: url(../images/astronaut\ 1.svg);
}
*/
.thumb-example {
  position: relative;
}
.title-up {
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;

  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);

  min-width: 370px;
  padding: 30px;
}

.items-text {
  display: flex;
  text-align: left;
  margin-left: auto;
}
.job {
  padding-top: 0;
}
.subject-title {
  margin-bottom: 50px;
  margin-left: 0;
  margin-right: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  background-color: var(--primary-white-color);
  color: var(--secondary-color);
}
.subject-title-team {
  margin-bottom: 50px;
  margin-left: 0;
  margin-right: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  background-color: #f5f4fa;
  color: var(--secondary-color);
}
.title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  color: var(--secondary-color);
  font-weight: 500;
}
.text {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--brand-color);
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--secondary-color);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
  background-color: var(--primary-white-color);
}
.item {
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  color: var(--secondary-color);
}
.foto {
  margin-bottom: 30px;
}
.border {
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.container-team {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section-team {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}
.name {
  margin-bottom: 10px;
}
.benefits-container {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

/*працівники*/

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.social-links {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}
.social-networks {
  margin-right: 10px;
  fill: #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-networks:last-child {
  margin-right: 0;
}
.social-networks:hover,
.social-networks:focus {
  fill: var(--primary-white-color);
  background-color: var(--hover-color);
}
.text-team {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--brand-color);
}
/*
.social-icon{
  content: '';
  align-items: center;
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-position: center;
  background-size: 20px;
  background-repeat: no-repeat;
}
.social-icon:nth-child(1)::before{
  content: url(../images/instagram\ 2.svg);
}
.social-icon:nth-child(2)::before{
  content: url(../images/twitter\ 1.svg);
}
.social-icon:nth-child(3)::before{
  content: url(../images/facebook\ 1.svg);
}
.social-icon:nth-child(4)::before{
  content: url(../images/linkedin\ 1.svg);
}*/

/*постійні клієнти*/
.clients-list {
  display: flex;
}

.clients-list .link-client {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
}

.link-client:hover,
.link-client:focus {
  fill: var(--hover-color);
  border: 1px solid var(--hover-color);
}

.link-client {
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list li:not(:last-child) {
  margin-right: 30px;
}

/*портфолио*/

.container-inline {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.pointer {
  min-width: 130px;
  margin-bottom: 34px;
  padding: 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  color: var(--secondary-color);
  border: 1px transparent;
  cursor: pointer;
  text-align: center;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.pointer:hover,
.pointer:focus {
  background: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: var(--primary-white-color);
}
.subject {
  margin-left: 24px;
  padding-top: 20px;
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--secondary-color);
}
.items-pointer {
  display: flex;
  justify-content: center;
}
.items-pointer li {
  margin-right: 8px;
}
.items-pointer li:last-child {
  margin-right: 0;
}
.items-pointer .link-nav {
  display: block;
}
.items-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-left: 180px;
}
.item-portfolio {
  width: 370px;
  margin-left: 24px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  color: var(--brand-color);
}
.item-portfolio-border {
  border: 1px solid #eeeeee;
}
.item-portfolio-border:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.item-portfolio:nth-child(3n) {
  margin-right: 0;
}
.item-portfolio:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.overlay-portfolio {
  position: absolute;
  transform: translateY(140%);

  padding: 63px 24px;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item-portfolio-border:hover .overlay-portfolio {
  transform: translateY(-293px);
}

/*футер*/
.container-footer {
  justify-content: flex-start;
  margin-left: 215px;
}
.link-footer-logo {
  padding-top: 60px;
  padding-bottom: 28px;
}
.link-footer-adress {
  font-size: 14px;
  line-height: 1.8;
  color: var(--primary-white-color);
}
.link-footer-mail {
  text-decoration: none;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.6);
}
.link-footer {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.6);
}
.background-footer {
  display: inline-flex;
  background-color: #2f303a;
}
.social-links-footer {
  display: flex;
  justify-content: center;
}
.social-footer {
  display: inline-block;
  margin-top: 76px;
  margin-bottom: 96px;
  margin-left: 56px;
}
.social-footer p {
  color: var(--primary-white-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
.subscription {
  display: inline-block;
  margin-top: 72px;
  margin-bottom: 93px;
  margin-left: 94px;
  margin-right: 214px;
}
.subscription p {
  color: var(--primary-white-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
.social-icon-footer {
  fill: var(--primary-white-color);
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-footer:hover,
.social-icon-footer:focus {
  fill: var(--primary-white-color);
  background-color: var(--hover-color);
}
.subscribe {
  margin-left: auto;
}
.subscribe p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);

  margin-bottom: 20px;
}
.subscribe input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  padding: 16px;
  width: 358px;
  margin-right: 12px;
}
.subscribe-button {
  position: relative;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  width: 200px;
  padding: 10px 62px 10px 28px;
  margin-right: 20px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: rgba(24, 140, 232, 1);
}
.icon-airplane {
  position: absolute;
  top: 25%;
  right: 22px;
  fill: var(--primary-white-color);
}
/*модал*/

.backdrop {
  top: o;
  left: 0;
  opacity: 1;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  background-color: var(--primary-white-color);

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 6px;
  fill: #000000;
  background-color: var(--primary-white-color);

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close:hover,
.icon-close:focus {
  fill: var(--hover-color);
  background-color: var(--primary-white-color);
}
.icon-close {
  width: 18px;
  height: 18px;
}
.modal h2 {
  margin: 40px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}
.form:focus-within .icon-person {
  fill: var(--hover-color);
}
.form:focus-within .icon-vector {
  fill: var(--hover-color);
}
.form:focus-within .icon-mail {
  fill: var(--hover-color);
}
.form input:focus,
.form textarea:focus {
  border: solid 1px var(--hover-color);
  outline: none;
}
.form-fields {
  width: 448px;
  height: 342px;
  margin-left: auto;
  margin-right: auto;
}
.form {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.form label {
  display: block;
  margin-bottom: 4px;
}
.form input {
  margin: 0;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form textarea {
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
.label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  margin-left: 20px;
}
.label a {
  color: var(--hover-color);
  margin-left: 5px;
  text-decoration-skip-ink: none;
}
.label-size {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--brand-color);
}
.form textarea::placeholder {
  color: var(--brand-color);
}
.checkbox {
  margin-right: 9px;
}
.icon-person {
  position: absolute;
  left: 51px;
  top: 106px;
  display: inline-block;
  fill: var(--secondary-color);
}
.icon-vector {
  position: absolute;
  left: 52px;
  top: 180px;
  display: inline-block;
  fill: var(--secondary-color);
}
.icon-mail {
  position: absolute;
  left: 53px;
  top: 251px;
  display: inline-block;
  fill: var(--secondary-color);
}
.button-send {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--hover-color);
  cursor: pointer;
  border: none;

  display: block;
  padding: 10px 52px;
  width: 200px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-send:hover,
.button-send:focus {
  background-color: rgba(24, 140, 232, 1);
}
